<%# <%= button_to "Sair", destroy_user_session_path,  method: :delete %>
<div class="paizao">
  <div class="flex-shrink-0 p-3 sidepanel min-h-100 sidepanel" style="width: 280px;">
    <a href="/" class="d-flex justify-content-center p-2">
      <%= image_tag asset_path('hospitalvet2.png'), class:'w-25 fw-semibold' %>
    </a>
    <p class="border-top my-3 w-50 m-auto"></p>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed title gap-1" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          <i class="bi bi-house"></i>
          Home
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <%= link_to "Tutores", customers_path%>
          </ul>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <%= link_to "Pets", pets_path%>
          </ul>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <%= link_to "Estoque", inventory_items_path %>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed title gap-1" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          <i class="bi bi-house"></i>
          Dashboard
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="rounded">Overview</a></li>
            <li><a href="#" class="rounded">Weekly</a></li>
            <li><a href="#" class="rounded">Monthly</a></li>
            <li><a href="#" class="rounded">Annually</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed title gap-1" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          <i class="bi bi-house"></i>
          Minha conta
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li class="rounded">
              <%= button_to "Sair", destroy_user_session_path(current_user), method: :delete, class: "btn-toggle rounded btn-danger"%>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="container p-5">
      <%= yield%>
    </div>
  <style>

    .icon {
      font-size: 50px;
      color: #725ac1!important;
    }
    .paizao {
      display: flex;
    }

    .card {
      border: none;
    }

    .content{
    display: flex;
    flex-direction: column;
    }

    .card-title {
      color: #747474
    }

    .card-text {
      color: #747474
    }

    li > a {
      color: #747474 !important;
    }
    .title {
      color: #725ac1!important;
    }
    .sidepanel {
      background: white;
      min-height: 100vh;
    }
    body {
      min-height: 100vh;
      min-height: -webkit-fill-available;
      background-color: #F0F1F6
    }

    html {
      height: -webkit-fill-available;
    }

    main {
      display: flex;
      flex-wrap: nowrap;
      height: 100vh;
      height: -webkit-fill-available;
      max-height: 100vh;
      overflow-x: auto;
      overflow-y: hidden;
    }

    .b-example-divider {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .bi {
      vertical-align: -.125em;
      pointer-events: none;
      fill: currentColor;
    }

    .dropdown-toggle { outline: 0; }

    .nav-flush .nav-link {
      border-radius: 0;
    }

    .btn-toggle {
      display: inline-flex;
      align-items: center;
      padding: .25rem .5rem;
      font-weight: 600;
      color: rgba(0, 0, 0, .65);
      background-color: transparent;
      border: 0;
    }
    .btn-toggle:hover,
    .btn-toggle:focus {
      color: rgba(0, 0, 0, .85);
      /* background-color: #725ac1; */
      background-color: rgb(114,90,193, 0.1)

    }

    .btn-toggle::before {
      width: 1.25em;
      line-height: 0;
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
      transition: transform .35s ease;
      transform-origin: .5em 50%;
    }

    .btn-toggle[aria-expanded="true"] {
      color: rgba(0, 0, 0, .85);
    }
    .btn-toggle[aria-expanded="true"]::before {
      transform: rotate(90deg);
    }

    .btn-toggle-nav a {
      display: inline-flex;
      padding: .1875rem .5rem;
      margin-top: .125rem;
      margin-left: 1.25rem;
      text-decoration: none;
    }
    .btn-toggle-nav a:hover,
    .btn-toggle-nav a:focus {
      background-color: rgb(114,90,193, 0.1)
    }

    .scrollarea {
      overflow-y: auto;
    }

    .fw-semibold { font-weight: 600; }
    .lh-tight { line-height: 1.25; }
  </style>
