<div class="cardBox">
  <%= link_to customers_path do %>
    <div class="card">
      <div>
        <div class="numbers"><ion-icon name="person-outline"></ion-icon> <%= Customer.count %></div>
      </div>
      <div class="card-text">
        <p>Tutores</p>
      </div>
      <div class="iconBx d-flex" style="gap:0.9em; align-itens:center; justify-content:center;">
        <%= button_to new_customer_path, method:"get", class:"btn btn-primary" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
        <%= button_to customers_path, method:"get", class:"btn btn-primary" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="card">
    <div>
      <div class="numbers">
        <ion-icon name="paw-outline"></ion-icon> <%= Pet.count %>
      </div>
    </div>
    <div class="card-text">
      <p>Pets</p>
    </div>
    <div class="iconBx d-flex" style="gap:0.9em; align-itens:center; justify-content:center;">
      <p class="card-text">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newEntityModal">
          <i class="fa-solid fa-plus"></i>
        </button>
      </p>
      <p class="card-text">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchModal">
          <i class="fa-solid fa-magnifying-glass" style="font-size: 16px;"></i>
        </button>
      </p>
    </div>
  </div>
  <%= render 'pets/modal_form'%>
  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchModalLabel">Pesquisar Pet</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'pets/search'%>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div>
      <div class="numbers"> <ion-icon name="calendar-outline"></ion-icon></div>
    </div>
    <div class="card-text">
      <p> Agenda </p>
    </div>
    <div class="iconBx d-flex">
      <button class="btn btn-primary"> Acessar </button>
    </div>
  </div>
  <div class="card">
    <div>
      <div class="numbers">Estoque</div>
    </div>
    <div class="iconBx">
    </div>
  </div>
</div>
<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Esteira de atendimento</h2>
      <%= link_to service_order_service_queue_items_path(1), class: 'btn' do %>
        Acessar
      <% end %>
    </div>
    <table>
      <tr>
        <thead>
          <td>Tutor</td>
          <td>Pet</td>
          <td>Atendimento</td>
          <td>Urgência</td>
        </tr>
      </thead>
      <tbody>
        <% @service_queue_items.each do |sqi| %>
          <tr>
            <td><%= sqi.customer.full_name %></td>
            <td><%= sqi.pet&.name  %></td>
            <td><span class="status delivered">Aguardando</span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- ================= New Customers ================ -->
  <div class="recentCustomers">
    <div class="cardHeader">
      <h2>Comandas Abertas</h2>
    </div>
  </div>
</div>
