<div class="cardBox">
  <%= render "dashboard/cards/card_customers" %>
  <%= render "dashboard/cards/card_pets" %>
  <%= render "dashboard/cards/card_calendar" %>
  <%= render "dashboard/cards/card_inventory_items" %>
</div>
<div class="details">
  <%= render "dashboard/sections/recent_orders" %>
  <%= render "dashboard/sections/recent_queue" %>
</div>
<script>
  var cards = ["pets", "customers"];
  cards.forEach(function(card) {
    var cardEl = document.querySelector(`#${card}-card`);
    if (cardEl) {
      cardEl.addEventListener('click', function() {
        window.location.href = `/${card}`;
      });
    }
  });

  var cardInteractives = document.querySelectorAll('.card .btn');
  cardInteractives.forEach(function(button) {
    button.addEventListener('click', function(event) {
      event.stopPropagation();
    });
  });
</script>