<div class="cardBox">
  <div class="card">
    <div>
      <div class="numbers"><ion-icon name="person-outline"></ion-icon> <%= Customer.count %> Tutores</div>
    </div>
    <div class="iconBx d-flex" style="gap:0.2em; align-itens:center; justify-content:center;">
      <%= button_to new_customer_path, method:"get", class:"btn btn-primary" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
      <%= button_to customers_path, method:"get", class:"btn btn-primary" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    </div>
  </div>
  <div class="card">
    <%= link_to pets_path do %>
      <div>
        <div class="numbers">
          <ion-icon name="paw-outline"></ion-icon> <%= Pet.count %>
        </div>
        <div class="cardName">Pets cadastrados</div>
      </div>
      <div class="iconBx">
        <ion-icon name="cart-outline"></ion-icon>
      </div>
    <% end %>
  </div>
  <div class="card">
    <div>
      <div class="numbers">Agenda</div>
      <div class="cardName">Comments</div>
    </div>
    <div class="iconBx">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </div>
  </div>
  <div class="card">
    <div>
      <div class="numbers">Preço</div>
      <div class="cardName">sei la mano</div>
    </div>
    <div class="iconBx">
      <ion-icon name="cash-outline"></ion-icon>
    </div>
  </div>
</div>
<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Esteira de atendimento</h2>
      <a href="#" class="btn"> slaa</a>
    </div>
    <table>
      <thead>
        <tr>
          <td>Tutor</td>
          <td>Pet</td>
          <td>Cachorro</td>
          <td>Corno</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Manuela</td>
          <td>gordo</td>
          <td>pintp</td>
          <td><span class="status delivered">Delivered</span></td>
        </tr>
        <tr>
          <td>Pedro</td>
          <td>pedro cat</td>
          <td>pinto</td>
          <td><span class="status pending">Pending</span></td>
        </tr>
        <tr>
          <td>joao</td>
          <td>vagabundp</td>
          <td>pinto</td>
          <td><span class="status return">Return</span></td>
        </tr>
        <tr>
          <td>Addidas Shoes</td>
          <td>$620</td>
          <td>Due</td>
          <td><span class="status inProgress">In Progress</span></td>
        </tr>
        <tr>
          <td>Star Refrigerator</td>
          <td>$1200</td>
          <td>Paid</td>
          <td><span class="status delivered">Delivered</span></td>
        </tr>
        <tr>
          <td>Dell Laptop</td>
          <td>$110</td>
          <td>Due</td>
          <td><span class="status pending">Pending</span></td>
        </tr>
        <tr>
          <td>Apple Watch</td>
          <td>$1200</td>
          <td>Paid</td>
          <td><span class="status return">Return</span></td>
        </tr>
        <tr>
          <td>Addidas Shoes</td>
          <td>$620</td>
          <td>Due</td>
          <td><span class="status inProgress">In Progress</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- ================= New Customers ================ -->
  <div class="recentCustomers">
    <div class="cardHeader">
      <h2>Últimas comandas</h2>
    </div>
  </div>
</div>
<script>
  let list = document.querySelectorAll(".navigation li");

  function activeLink() {
    list.forEach((item) => {
      item.classList.remove("hovered");
    });
    this.classList.add("hovered");
  }

  list.forEach((item) => item.addEventListener("mouseover", activeLink));

  // Menu Toggle
  let toggle = document.querySelector(".toggle");
  let navigation = document.querySelector(".navigation");
  let main = document.querySelector(".main");

  toggle.onclick = function () {
    navigation.classList.toggle("active");
    main.classList.toggle("active");
  };
</script>
