<div class="row gx-3 gy-3">
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card h-100">
      <div class="card-body d-flex flex-column align-items-center gap-1">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <i class="fa-solid fa-user icon"></i>
          <h2 class="card"> <%= pluralize(Customer.count, 'tutor', 'tutores') %></h2>
        </div>
        <div class="d-flex justify-content-center align-itens-center gap-1">
          <p class="card-text">
            <%=button_to new_customer_path, method:"get", class:"btn btn-primary" do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
          </p>
          <p class="card-text">
            <%=button_to customers_path, method:"get", class:"btn btn-primary" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card h-100">
      <div class="card-body d-flex flex-column align-items-center gap-1">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <i class="fa-solid fa-paw icon"></i>
          <h2 class="card"> <%= pluralize(Pet.count, 'pet', 'pets') %></h2>
        </div>
        <div class="d-flex justify-content-center align-itens-center gap-1">
           <p class="card-text">
            <%=button_to new_pet_path, method:"get", class:"btn btn-primary" do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
          </p>
          <p class="card-text">
            <%=button_to pets_path, method:"get", class:"btn btn-primary" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
  <div class="card h-100">
    <div class="card-body d-flex flex-column align-items-center gap-1">
      <div class="d-flex justify-content-center align-items-center gap-2">
        <i class="bi bi-calendar-week icon" style="font-size: 30px;"></i>
        <h2 class="card">Agenda</h2>
      </div>
      <div class="d-flex justify-content-center align-itens-center gap-1">
        <p class="card-text">
          <%= button_to pets_path, method: "get", class: "btn btn-primary" do %>
            <i class="fa-solid fa-magnifying-glass" style="font-size: 16px;"></i>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card h-100">
      <div class="card-body d-flex flex-column align-items-center gap-1">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <i class="fa-solid fa-dollar-sign icon"></i>
          <h2 class="card">Preço</h2>
        </div>
        <div class="d-flex justify-content-center align-itens-center gap-1">
          <p class="card-text">
            <%=button_to pets_path, method:"get", class:"btn btn-primary" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>