<div id="<%= dom_id service_queue_item %>">
  <p>
    <strong>Customer:</strong>
    <%= service_queue_item.customer_id %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= service_queue_item.pet_id %>
  </p>

  <p>
    <strong>Queue name:</strong>
    <%= service_queue_item.queue_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= service_queue_item.status %>
  </p>

  <p>
    <strong>Urgency:</strong>
    <%= service_queue_item.urgency %>
  </p>

</div>
