<% content_for :item do %>
  <div class="d-flex justify-content-between align-items-center ">
    <h1>Pets</h1>
    <%= render 'search', search_term: params[:search] %>
    <div class='d-flex gap-2 justify-content-center align-items-center'>
      <%= button_to 'Editar', edit_pet_path(@pet), method: :get, class: "btn btn-warning bi-pen"%>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePetModal" data-pet-id="<%= @pet.id %>">
        <i class="bi bi-trash"></i> Deletar
      </button>
      <%= link_to :back, class: "btn btn-secondary d-flex align-items-center gap-2" do %>
        <i class="bi bi-arrow-left"></i> Voltar
      <% end %>
    </div>
  </div>
<% end %>
<div id="<%= dom_id(@pet) %>" class="card mb-3 shadow">
  <div class="card-header bg-primary text-white">
    <i class="fas fa-paw"></i> Detalhes do Pet
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">
      <%= @pet.name %>
    </h5>
    <div class="text-center mb-3">
      <img src="<%= asset_path('no-image.png') %>" class="img-thumbnail" alt="No image available">
      <%# <% if @pet.image.attached? %>
      <%# <img src="<%= url_for(@pet.image.variant(resize_to_limit: [500, 500]))" class="img-thumbnail" alt="<%= @pet.name %>
      <%# <% else %>
      <%# <% end %>
    </div>
    <p class="card-text">
      <i class="fas fa-user"></i> <strong>Tutor:</strong> <%= link_to @pet.customer.full_name, customer_path(@pet.customer) %>
    </p>
    <p class="card-text">
      <i class="fas fa-dog"></i> <strong>Raça:</strong> <%= @pet.race %>
    </p>
    <p class="card-text">
      <i class="fas fa-weight"></i> <strong>Peso:</strong> <%= @pet.weight %>kg
    </p>
  </div>
</div>
<div class="modal fade" id="deletePetModal" tabindex="-1" aria-labelledby="deletePetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletePetModalLabel">Exclusão de Pet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem certeza dessa ação?
      </div>
      <div class="modal-footer">
        <%= button_to "Deletar Pet", "#", method: :delete, class: "btn btn-danger", id: "delete-pet-confirm-btn" %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
