<div class="navigation">
  <ul>
    <li>
      <%= link_to root_path do%>
        <span class="icon">
          <ion-icon name="paw-outline"></ion-icon>
        </span>
        <span class="title"> Petus</span>
      <% end %>
    </li>
    <li>
      <%= link_to root_path do%>
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="title"> Página inicial</span>
      <% end %>
    </li>
    <li>
      <%= link_to customers_path do%>
        <span class="icon">
          <ion-icon name="person-outline"></ion-icon>
        </span>
        <span class="title">Tutores</span>
      <% end %>
    </li>
    <li>
      <%= link_to pets_path do%>
        <span class="icon">
          <ion-icon name="paw-outline"></ion-icon>
        </span>
        <span class="title">Pets</span>
      <% end %>
    </li>
    <li>
      <a href="https://axochat.vercel.app/">
        <span class="icon">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </span>
        <span class="title">AxoChat</span>
      </a>
    </li>
    <li>
      <%= link_to inventory_items_path do %>
        <span class="icon">
          <ion-icon name="cube-outline"></ion-icon>
        </span>
        <span class="title">Estoque</span>
      <% end %>
    </li>
    <li>
      <%= link_to hospitalization_items_path do%>
        <span class="icon">
          <ion-icon name="medkit-outline"></ion-icon>
        </span>
        <span class="title">Internação</span>
      <% end %>
    </li>
    <li>
      <%= link_to service_orders_path do%>
        <span class="icon">
          <ion-icon name="pencil-outline"></ion-icon>
        </span>
        <span class="title">Comandas</span>
      <% end %>
    </li>
    <li>
      <%= link_to service_order_service_queue_items_path(329) do%>
        <span class="icon">
          <ion-icon name="log-out-outline"></ion-icon>
        </span>
        <span class="title">Esteira</span>
      <% end %>
    </li>
  </ul>
</div>
