<%= form_with(model: @customer || Customer.new, url: customers_path, method: "post", id: "new-customer-form", local: true, multipart: true) do |form| %>
  <% if @customer&.errors&.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <i class="bi bi-exclamation-triangle-fill"></i>
      <strong><%= pluralize(@customer.errors.count, "error") %> erros proibiram este Customer para ser salvo:</strong>
      <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :full_name, class: 'form-label' %>
    <%= form.text_field :full_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :registry_code, class: 'form-label' %>
    <%= form.text_field :registry_code, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :penis_size, class: 'form-label' %>
    <%= form.text_field :penis_size, class: 'form-control' %>
  </div>

  <div class="modal-footer gap-1">
    <%= form.submit "Adicionar", class: "btn btn-primary" %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
  </div>
<% end %>
